@{
    ViewBag.Title = "Home Page";
}
<div class="home">
    <a onclick="location.href='@Url.Action("Create", "Shows")'" class="btn btn-default">Add a Show</a>
    <a onclick="location.href='@Url.Action("Create", "Index")'" class="btn btn-default">Watch shows</a>
</div>